<mat-toolbar color="primary">
    <span>Manage Employees</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn"><mat-icon>remove_circle_outline</mat-icon> Delete</button>
    <button mat-raised-button class="add-button" (click)="openModal()"><mat-icon>add_circle_outline</mat-icon> Add new Employees</button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px;">
    <!-- <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field> -->
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell type="img" *matCellDef="let row"><img  src={{row.photo}} /></td>
          <!-- <img [src]="row.photo" class="h-10 w-10 rounded-full" alt="" *matCellDef="let row"> -->
        </ng-container>
        
        <ng-container matColumnDef="empID">
          <th mat-header-cell *matHeaderCellDef> Emp ID </th>
          <td mat-cell *matCellDef="let row"> {{row.empID}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>
    
        
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let row"> {{row.address}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="skills">
          <th mat-header-cell *matHeaderCellDef> Skills </th>
          <td mat-cell *matCellDef="let row"> {{row.skills}} </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editEmployee(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteEmployee(row.id)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    
    
  </div>
</div>