.example-spacer {
    flex: 1 1 auto;
  }
.fields{
    margin-right: 10em;
}
.button{
    margin-right: 15px;
    margin-top: 10px;
    background-color: #03fcd3;
    color: white;
}
.close{
    border-radius: 8px;
}
.container{
    margin-top: 2em;
}
.footer{
    margin: auto;
    background-color: #a1ede4;
    height: 60px;
}